/* h1{
    background-color:#333;
    font-size:100px;
    color:white;
    padding:20px;
    border:3px solid black; */

/* }

.box{
    width:100%;
} */
/* 
img{
    width:100%;
} */
/* 
.box{
    background-color:bisque;
    border:2px solid black;
    padding:30px;
    width:100%;
    margin:20px;
    color:brown;
    box-sizing:border-box;
} */
/* 
@media(min-width:768px){
    .box{
        background-color:lightgreen;
        width:100%;
        padding:20px;
    }
}

@media(min-width:1024px){
    .box{
        background-color:red;
        width:100%;
        color:white;
        font-size:30px;
        padding:20px;

    }
/* } */
/* 
@media(max-width:768px){
    .box{
        background-color:blueviolet;
        width:100%;
        padding:30px;
    }
} */ 
/* nav{
    background-color:#333;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}

ul{
    display:flex;
    font-size:40px;
    list-style:none;
    gap:20px;

}

.menu{
    display:none;
    cursor:pointer;
    font-size:40px;
    
}

li{
    cursor:pointer;
}

@media(max-width:768px){
    ul{
        display:none;

    }
    .menu{
        display:block;
        cursor:pointer;
    }
    
        
    
} */
/* 
.container{
    border:2px solid black;
    display:flex;
    padding:20px;
    background-color:lightgreen;
    justify-content:center;
    align-items:center;
    height:400px;
    flex-wrap:wrap;
}


.box{
    height:200px;
    width:300px;
    border:1px solid black;
    font-size:30px;
    background-color:bisque;
}

.one{
    flex-grow:2;

}

.two{
    flex-grow:1;
} */

/* 
.box{
    border:2px solid black;
    padding:20px;
    background-color:#333;
    color:white;
    width:100%;
}

@media(min-width:10px){
    .box{
        background-color:lightcoral;
        padding:10px;
        width:100%;
    }
}

@media(min-width:327px){
    .box{
        background-color:lightgreen;
        padding:20px;
        width:90%;
    }
}

@media(min-width:768px){
    .box{
        background-color:lightsalmon;
        padding:40px;
        width:70%;
    }
}

@media(min-width:1024px){
    .box{
        background-color:#333;
        padding:60px;
        width:50%;
    }
} */

/* nav{
    border:2px solid black;
    padding:20px;
    background-color:#333;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

ul{
    display:flex;
    gap:50px;
    font-size:30px;
    list-style:none;
}

li{
    cursor:pointer;
}

.menu{
    display:none;
}

@media(max-width:768px){
    ul{
        display:none;
    }

    .menu{
        display:block;
        cursor:pointer;
    }
} */
/* 
.container{
    border:3px solid black;
    flex-wrap:wrap;
    padding:20px;
    font-size:30px;
    color:white;
    flex-direction:row;
    height:400px;
}

.box{
    border:1px solid black;
    display:flex;
    padding:20px;
    font-size:30kpx;
    background-color:lightsalmon;
    justify-content:center;
}

.one{
    flex-grow:2;
}

.two{
    flex-grow:1;
    order:-1;
} */

/* .container{
    display:grid;
    border:3px solid black;
    padding:20px;
    grid-template-rows:100px 100px 200px;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px;
    
}

.box{
    border:2px solid black;
    background-color:lightgrey;
    font-size:30px;
    height:200px;
    width:100px;
    padding:30px;

}
.header{
    border:1px solid black;
    padding:20px;
    font-size:30px;
    grid-row:1/-1;
    background-color:red;
    color:green;
} */
/* 
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    display:grid;
    grid-template-columns:600px 1fr;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
    gap:40px;
}

header{
    grid-area:header;
}

aside{
    grid-area:sidebar;
}

main{
    grid-area: main;
}

footer{
    grid-area:footer;
}

header{
    border:2px solid black;
    padding:40px;
    background-color:white;
    font-weight: 600;
    gap:400px;
    color:red;
    font-size:150px;
}

main{
    border:2px solid black;
    padding:40px;
    background-color:lightgray;
    color:darkorange;
    font-size:100px;
    border-radius:3%;
    height:800px;

}

aside{
    border:2px solid black;
    padding:40px;
    background-color:lightgoldenrodyellow;
    color:darkgreen;
    border-radius:5%;
    font-size:50px;
    height:800px;
}

footer{
    border:2px solid black;
    padding:40px;
    background-color:lightskyblue;
    color:red;
    font-size:60px;
}

aside
ul{
    display:flex;
    flex-direction:column;
    gap:90px;
    cursor:pointer;

}

main
iframe{
    width:100%;
    height:100%;
}

footer
ul{
    display:flex;
    flex-direction:row;
    gap: 200px;
    cursor:pointer; */
/* 

/*  
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.container{
    display:grid;
    grid-template-columns:600px 1fr;
    grid-template-areas:
    "header header"
    "siderbar main"
    "footer footer";
    gap:30px;
}

header{
    grid-area:header;
}

aside{
    grid-area:sidebar;
}

main{
    grid-area:main;
}

footer{
    grid-area:footer;
}

header{
    border:2px solid black;
    padding:20px;
    background-color:whitesmoke;
    color:red;
    font-weight: 800;
    font-size:200px;
}


aside{
      border:2px solid black;
    padding:20px;
    background-color:skyblue;
    color:red;
    font-size:200px;

}

main{
    border:2px solid black;
    padding:20px;
    background-color:lightcoral;
    color:green;
    font-size:200px;


}
    
 
  */

/*    
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    width:100%;
}

.container{
    display:grid;
    grid-template-columns:350px 1fr;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
    gap:30px;
}

header{
    grid-area:header;
}

aside{
    grid-area:sidebar;
}

main{
    grid-area:main;
}

footer{
    grid-area:footer;
}

header{
    border:2px solid black;
    padding:20px;
    background-color:whitesmoke;
    color:red;
    font-weight: 800;
    font-size:200px;
}


aside{
      border:2px solid black;
    padding:20px;
    background-color:skyblue;
    color:#333;
    Font-size:60px;
    height:750px;
}


aside
ul{
    display:flex;
    flex-direction:column;
    gap:75px;
}


main{
    border:2px solid black;
    padding:20px;
    background-color:lightcoral;
    color:green;
    font-size:200px;
    height:750px;
}

main
iframe{
    width:100%;
    height:100%;
}

footer{
     border:2px solid black;
    padding:20px;
    background-color:rgb(139, 75, 75);
    color:white;
    font-size:40px;
    height:150px;
}

footer
ul{
    display:flex;
    gap:280px;
    font-size:50px;
}
    
  */
/* 
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1::after{
    content:"💖";
}

h1::before{
    content:"😒"
}

a{
    text-decoration:none;
    position:relative;
}

a::after{
    content:"";
    position:absolute;
    width:100%;
    height:2px;
    bottom:-7px;
    left:0;
    background:red;

}

a::after{
    transition:0.3s;
    width:0%;
}

a:hover::after{
    width:100%;
     */
/* }

button{
    position:relative;
    width:40px;
    height:20px;
    cursor:pointer;
}

button::after{
    content:"2";
    position:absolute;
    background-color:red;
    border-radius:50%;
    cursor:pointer;
    color:white;
    top:-10px;
    width:25px;
} */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* 
body{
    font-family:Arial, Helvetica, sans-serif;
    padding:40px;
    margin:30px;
}

p::selection{
    background:black;
    color:red;
}

h2::first-letter{
    color:red;
    font-size:40px;

}

::placeholder{
    font-style:italic;
    color:skyblue;
}

li::marker{
    color:red;
    font-size:20px;
    padding:20px;
    margin:20px;

}


button{
    background-color:#333;
    border:none;
    padding:10px 20px;
    color:white;
    cursor:pointer;
    transition:0.3s ease-out;
}

button:active{
    transform:scale(0.5);
}

input:focus{
    border:2px solid rgb(134, 55, 55);
    outline:none;
}

a{
    text-decoration:none;
}

a:visited{
    color:red;
}

li:nth-child(5n){
    color:red;
}

h1{
    text-align:center;
    font-size:60px;
    font-weight:500;
} */

/* .progress-container{
    height:30px;
    width:300px;
    cursor:pointer;
    border:2px solid black;
    background-color:#333;
    margin:20px;
    border-radius:20px;
    position:relative;
    transition:0.3s;

}

.progress-bar{
    height:100%;
    width:10%;
    border-radius:50px;
    background-color:red;
    position:relative;
    transition:0.3s;
}

.progress-bar::after{
     content:"10%";
   font-size:12px;
   bottom:10px;
   left:4px;
   font-weight:bold;
   color:white;
   position:absolute;
}

.progress-container:hover .progress-bar{
    width:70%;
    background-color:green;
}

.progress-container:hover .progress-bar::after{
    content:"70%";
    color:orange;
    font-size:13px;
    bottom:5px;
} */
/* 
.box{
    height:300px;
    width:350px;
    background-color:skyblue;
    transition:infinite;
}

.box:hover{
    background-color:red;

}

.nav{
    padding-bottom:10px;
}

.dropdown{
    display:none;
}

.nav:active .dropdown{
    display:block;
} */

/* 
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:#333;
}


.container{
    border:2px solid black;
    background-color:black;
    color:white;
    text-align:center;
    font-weight:bold;
    font-size:50px;
    height:300px;
    padding:20px;
    width:700px;
    margin:20px;
    border-radius:20px;
    position:relative;
    transition:0.3s;
}

.progress-bar{
    width:10%;
    height:130px;
    padding:40px;
    margin:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:red;
    border:2px solid black;
    transition:0.3s;
}

.progress-bar::after{
    content:"10%";
    font-size:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    position:absolute;

}

.container:hover .progress-bar{
    width:70%;
    background-color:green;
}

.container:hover .progress-bar::after{
    content:"70%";
    color:brown;
} */
/* 
.box{
    height:100px;
    width:100px;
    background-color:skyblue;
    display:flex;
    margin:40px;
    padding:30px;
    justify-content:center;
    align-items:center;

    transform:rotate(45deg) translateX(40px) translateY(50px)
} */
/* 
.parent{
    perspective:1000px;
   margin:40px;

}

.child{
    border:1px solid black;
    height:37px;
    width:150px;
    position:relative;
    transition:0.5s;
    color:white;
    transform-style:preserve-3d;
}

.front .back{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
}

.back{
    background-color:blue;
    transform:rotateY(180deg)
}

.front{
    background-color:green;
}

.parent:hover .child{
    transform:rotateY(180deg)

} */
/* 
.box{
    height:150px;
    width:150px;
    margin:30px;
    padding:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:skyblue;

    animation: rotateBox 2.5s infinite alternate;
}

@keyframes rotateBox{
    0%{
        background-color:red;
        transform:rotatex(0);
    }

    50%{
        background-color:green;
        transform:rotatex(180deg);
    }

    100%{
        background-color:blue;
        transform:rotatex(360dg);
    }

} */

/* 
.loader{
    width:50px;
    height:50px;
    border:5px solid lightgrey;
    border-radius:50%;
    border-top:5px solid blue;

    animation:spin 1s linear infinite;
} */
/* 
@keyframes spin{
    0%{
        transform:rotate(0deg)
    }
}

@keyframes spin{
    50%{
        transform:rotate(180deg)
    }
} */
/* 
@keyframes spin{
    100%{
        transform:rotate(360deg)
    }
} */
/* 
.container{
    display:flex;
    gap:30px;
    margin-top:100px;
    justify-content:center;
}

.box{
    height:70px;
    width:70px;
    background-color:skyblue;
    margin:10px;
    color:white;
    font-size:20px;

    display:flex;
    justify-content:center;
    align-items:center;

    animation:moveup 0.9s infinite alternate;
}

.box:nth-child(1){
    animation-delay:0s;
}

.box:nth-child(2){
    animation-delay:0.3s;
}

.box:nth-child(3){
    animation-delay:0.6s;
}

.box:nth-child(4){
    animation-delay:0.9s;
}

@keyframes moveup{
    from{
        transform:translateY(50px)
    }

    to{
        transform:translateY(0px)
    }
} */
/* 
img{
    width:200px;
    border-radius:50%;
    filter:drop-shadow(0px 10px 20px rgba(0,0,0,0.5));
    transition:0.5s;
}

img:hover{
    filter:grayscale(0%);
/* } */
/* 
.box{
    margin:100px;
    height:150px;
    width:150px;
    background-color:skyblue;

    
    box-shadow:0px 10px 20px rgba(0,0,0,0.5);

} 

.box:active{
    transform:scale(0.8);
} */
/* 
:root{
    --main-color:#265292;
    --padding:10px;
}

h1{
    color:var(--main-color);
    padding:var(--padding);
}

button{
    color:var(--main-color);
    padding:var(--padding);
}

button:hover{
    cursor:pointer;
}

 */


 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
 }

 nav{
    display:flex;
    border:1px solid black;
    background-color:#333;
    color:white;
    justify-content:space-between;
    align-items:center;
    padding:15px;
    top:0;
}

nav
ul{
    display:flex;
    list-style:none;
    gap:30px;
    cursor:pointer;

}

nav
h1::after{
    content:"☕"
}

nav
h1{
    color:red;
}

body{
   background-image:url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/46fedc155944561.635e6e5a3c8b8.jpg);
   background-repeat: no-repeat;
   background-size:cover;
   width:100%;
}